<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tweet app with sms support</title>
  </head>
  <body>

    <form>
      <input type="textarea" name="name" value="" placeholder="type something here">
      <button type="submit" name="button">Post it!</button>
    </form>


    <div class="tweets">
      <%= render @tweets %>
    </div>

  </body>
</html>
